# ====================
# Global ignores
# ====================

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor / IDE files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ====================
# Backend ignores
# ====================

backend/node_modules/
backend/.env
backend/dist/
backend/build/

# ====================
# Frontend ignores
# ====================

frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/dist/
frontend/build/
frontend/.next/
frontend/out/
frontend/.cache/
